@model Rent.Entities.Model.PropertiesViewModel
<div class="section">
    <div id="list-type" class="proerty-th-list">
        @foreach (var item in Model.SearchModel)
        {
        <div class="col-md-4 p0">
            <div class="box-two proerty-item">
                <div class="item-thumb">
                    <a href="property-1.html"><img src="assets/img/demo/property-3.jpg"></a>
                </div>
                <div class="item-entry overflow">
                    <h5><a href="property-1.html"> @item.PropertyName </a></h5>
                    <div class="dot-hr"></div>
                    <span class="pull-left"><b> Area :</b> 120m </span>
                    <span class="proerty-price pull-right"> $ 300,000</span>
                    <p style="display: none;">Suspendisse ultricies Suspendisse ultricies Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium ...</p>
                    <div class="property-icon">
                        <img src="assets/img/icon/bed.png">(5)|
                        <img src="assets/img/icon/shawer.png">(2)|
                        <img src="assets/img/icon/cars.png">(1)

                        <div class="dealer-action pull-right">
                            <a href="submit-property.html" class="button">Edit </a>
                            <a href="#" class="button delete_user_car">Delete</a>
                            <a href="property-1.html" class="button">View</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        }
    </div>
</div>
@{ Html.RenderPartial("_Paging", Model.pager);}
@*<div class="section">
    <div class="pull-right">
        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
               
            </ul>
        </div>
    </div>
</div>*@