
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Custom/RentProperty.js"></script>
<link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.js"></script>

<div class="page-head">
    <div class="container">
        <div class="row">
            <div class="page-head-content">
                <h1 class="page-title">Submit new property</h1>
            </div>
        </div>
    </div>
</div>
<!-- End page header -->
<!-- property area -->
<div class="content-area submit-property" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container">
        <div class="clearfix">
            <div class="wizard-container">
                <div class="wizard-card ct-wizard-orange" id="wizardProperty">
                    <form action="/api/RentAPI/UploadFile" id="frmpropertyrent" class="dropzone">
                        <div class="wizard-header">
                            <h3>
                                <b>Submit</b> YOUR PROPERTY <br>
                                <small>Lorem ipsum dolor sit amet, consectetur adipisicing.</small>
                            </h3>
                        </div>
                        <input type="hidden" id="PropertyId" name="PropertyId" value="@ViewBag.PropertyId" />
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>

                    </form>
                </div>
                <!-- End submit form -->
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/jquery.bootstrap.wizard.js"></script>
<script src="~/Content/assets/js/jquery.validate.min.js"></script>
<script src="@Url.Content("~/Content/assets/js/wizard.js")"></script>